.header {
  width: 100vw;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4c4c4c;
  padding: 1rem 2rem;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0 0 5px 5px;
  backdrop-filter: blur(10px);
  box-shadow: rgba(59, 49, 114, 0.15) 0px 48px 100px 0px;
}

nav h3 {
  font-size: 1.3rem;
}

#btnMain {
  background-color: rgb(184, 89, 22);
  padding: 0.7rem 1.4rem;
  transition: 0.3s all;
}

#btnMain:hover {
  background-color: burlywood;
  border: none;
  color: #4c4c4c;
} 

.mainpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.search {
  display: flex;
  align-items: center;
  gap: 2rem;

  max-width: 800px;
  margin-top: 4rem; 
  background-color: #3c3c70;
  padding: 2.5rem;
  border-radius: 7px;
}

.search label {
  font-size: 1.1rem;
  font-weight: bold;
}

.search input {
  width: 100%;
  padding: 0.7rem;
  outline: 1px solid #646cff80;
  border: 1px solid #646cff;
  border-radius: 8px;
  margin-top: 0.3rem;
  background-color: #d8d8d8;
  color: #4c4c4c;
  font-size: 1.1rem;
  font-weight: 600;
  transition: 0.3s ease;
}

.search input:hover {
  outline: 1px solid rgb(108, 190, 53);
}

.btn {
  display: flex;
  gap: 1rem;
}

.btn button {
  border-radius: 8px;
  outline: none;
  background-color: #545ce7;

  transition: 0.3s ease;
}

.btn button:hover{
  background-color: #8086f3;
}

@media (max-width: 768px ) {

  .search {
    display: flex;
    flex-direction: column;
    align-items: start;

    background-color: #3c3c70;
    border-radius: 7px;
  }

  .search label {
    margin-bottom: -1.7rem;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    margin-top: 0.5rem;
  }  
}