* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: #fff;
    min-height: 100vh;
    width: 100vw;
}

main {
    background-color: #2e3543;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    width: 355px;
    height: 320px;
    padding: 30px;
    border-radius: 20px;

    -webkit-box-shadow: 5px 5px 31px 7px rgba(0,0,0,0.29);
    -moz-box-shadow: 5px 5px 31px 7px rgba(0,0,0,0.29);
    box-shadow: 5px 5px 31px 7px rgba(0,0,0,0.29);
}

.login form {
    display: flex;
    flex-direction: column;
}

.login input {
    margin-top: 10px;
}

.login img {
    width: 80px;
    height: auto;
}