#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex: 1;
  width: 100%;
}

.boxform {
  min-width: 350px;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.boxform h1 {
  text-align: center;
}

#login .form {
  width: 100%;
  padding: .5rem;
}

#login .field label {
  display: block; 
  font-size: 1.1rem;
  margin-bottom: 3px;
} 

#email, #password {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 1.7rem;
  padding: 0.7rem;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: none;
  background-color: #4b4b4b;
  
}

#password:hover {
  border-color: #646cff;
}

#email:hover {
  border-color: #646cff;
}

.actions {
  margin-top: 1.5rem;
  text-align: center;
}
